html, body{
  font-family: 'Montserrat', sans-serif;
}

header.hero{
  height: 100vh;
  background-image: url('../public/heroimg-min.jpg');
  background-size: cover;
  background-position: center;
}

img.brand{
  max-width: 80%;
}

div.herocontent{
  height: 100%;
}

a.nav-link{
  font-size: 1.5em;
  color: white;
}

a.nav-link:hover{
  color: #2ecc71;
}


section.about{
  height: 80vh;
}

div.aboutrow{
  height: 100%;
}

div.aboutleft{
  background-image: url('../public/aboutbg.jpg');
  background-size: cover;
}

div.aboutright{
  margin: auto;
}

div.aboutright h1{
  font-size: 2.8em;
}

section.special{
  height: 60vh;
}

div.specialrow{
  height: 100%;
}

div.specialitem1{
  background-image: url('../public/food1.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem2{
  background-image: url('../public/food2.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem3{
  background-image: url('../public/food3.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem4{
  background-image: url('../public/food4.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem5{
  background-image: url('../public/food5.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem6{
  background-image: url('../public/food6.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem7{
  background-image: url('../public/food7.jpg');
  background-size: cover;
  background-position: center;
}

div.specialitem8{
  background-image: url('../public/food8.jpg');
  background-size: cover;
  background-position: center;
}

section.footer{
  height: 70vh;
  background-image: url('../public/heroimg-min.jpg');
  background-size: cover;
  background-position: center;
}

img.logofooter{
  max-width: 60%;
  margin-bottom: 2em;
}

div.socialmedia a.asm i.fa:hover{
  color: #2ecc71 !important;
}

section.contact{
  height: 100vh;
  background-image: url('../public/map.png');
  background-size: cover;
  background-position: center;
}

section.testimonial{
  height: 50vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}

p.testimonial{
  font-size: 2em;
}

div.contactcard{
  max-width: 350px;
}

div.contactrow{
  display: flex;
  align-items: center;
}

/* menu page */

section.menusection{
  height: 100%;
}

div.specialitems{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

div.item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.item h5.right{
  color: #2ecc71;
}

/* media query */

@media (max-width: 576px) {

  section.special{
    background-image: url('../public/specialbg.jpg');
    background-size: cover;
    background-position: center;
  }

  section.menu{
    background-image: url('../public/menubg.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
  }

  div.footerrow{
    height: 100%;
  }

  div.menurow{
    height: 100%;
  }

  div.contactcard{
    max-width: 500px;
  }

}

@media (max-width: 767px){

  section.special{
    background-image: url('../public/specialbg.jpg');
    background-size: cover;
    background-position: center;
  }

  div.specialrow{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.menurow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  section.menu{
    background-image: url('../public/menubg.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
  }

  div.item h5.display-4{
    font-size: 1.5em;
  }

  div.specialitems h2.display-3{
    font-size: 2.5em;
  }

}

@media (max-width: 480px){
  h1.menuheading{
    font-size: 2.5em;
  }

  div.specialitems h2.display-3{
    font-size: 1.7em;
  }

}

@media (min-width: 576px) {

  div.herocontent img.navbar-brand{
    max-width: 25%;
  }

  div.contactcard{
    margin-left: 10em;
  }

  section.footer{
    height: 50vh;
    background-image: url('../public/heroimg-min.jpg');
    background-size: cover;
    background-position: center;
  }

  div.footerrow{
    height: 100%;
  }

  img.logofooter{
    max-width: 20%;
  }

  footer{
    margin: auto;
  }

}
